<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Smart Inventory</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">หน้าหลัก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">เกี่ยวกับเรา</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        ผลงานของเรา
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="#" class="dropdown-item">ออกแบบเว็บไซต์</a>
                        <a href="#" class="dropdown-item">พัฒนาโมบายแอพ</a>
                        <a href="#" class="dropdown-item">ออกแบบกราฟฟิก</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">สมัครสมาชิก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">เข้าสู่ระบบ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>